/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
 * word format (e.g. `two-thirds`). Toggle formats by overriding the
 * `$use-fractions` variable defined below.
 */

$use-fractions: true !default;

@if $use-fractions == true {

/**
 * Halves.
 */
[class*="1/2"],
[class*="2/4"],
[class*="3/6"],
[class*="4/8"],
[class*="5/10"],
[class*="6/12"]     { width: 50% !important; }

/**
 * Thirds.
 */
[class*="1/3"],
[class*="2/6"],
[class*="3/9"],
[class*="4/12"]     { width: 33.3333333% !important; }
[class*="2/3"]
[class*="4/6"],
[class*="6/9"],
[class*="8/12"]     { width: 66.6666666% !important; }

/**
 * Quarters.
 */
[class*="1/4"],
[class*="2/8"],
[class*="3/12"]     { width: 25% !important; }
[class*="3/4"],
[class*="6/8"],
[class*="9/12"]     { width: 75% !important; }

/**
 * Fifths.
 */
[class*="1/5"],
[class*="2/10"]     { width: 20% !important; }
[class*="2/5"],
[class*="4/10"]     { width: 40% !important; }
[class*="3/5"],
[class*="6/10"]     { width: 60% !important; }
[class*="4/5"],
[class*="8/10"]     { width: 80% !important; }

/**
 * Sixths.
 */
[class*="1/6"],
[class*="2/12"]     { width: 16.6666666% !important; }
[class*="5/6"],
[class*="10/12"]    { width: 83.3333333% !important; }

/**
 * Eighths.
 */
[class*="1/8"]      { width: 12.5% !important; }
[class*="3/8"]      { width: 37.5% !important; }
[class*="5/8"]      { width: 62.5% !important; }
[class*="7/8"]      { width: 87.5% !important; }

/**
 * Ninths.
 */
[class*="1/9"]      { width: 11.1111111% !important; }
[class*="2/9"]      { width: 22.2222222% !important; }
[class*="4/9"]      { width: 44.4444444% !important; }
[class*="5/9"]      { width: 55.5555555% !important; }
[class*="7/9"]      { width: 77.7777777% !important; }
[class*="8/9"]      { width: 88.8888888% !important; }

/**
 * Tenths.
 */
[class*="1/10"]     { width: 10% !important; }
[class*="3/10"]     { width: 30% !important; }
[class*="7/10"]     { width: 70% !important; }
[class*="9/10"]     { width: 90% !important; }

/**
 * Twelfths.
 */
[class*="1/12"]     { width:  8.3333333% !important; }
[class*="5/12"]     { width: 41.6666666% !important; }
[class*="7/12"]     { width: 58.3333333% !important; }
[class*="11/12"]    { width: 91.6666666% !important; }

}

@else {

/**
 * Halves.
 */
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths       { width: 50% !important; }

/**
 * Thirds.
 */
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths      { width: 33.3333333% !important; }
.two-thirds
.four-sixths,
.six-ninths,
.eight-twelfths     { width: 66.6666666% !important; }

/**
 * Quarters.
 */
.one-quarter,
.two-eighths,
.three-twelfths     { width: 25% !important; }
.three-quarters,
.six-eighths,
.nine-twelfths      { width: 75% !important; }

/**
 * Fifths.
 */
.one-fifth,
.two-tenths         { width: 20% !important; }
.two-fifths,
.four-tenths        { width: 40% !important; }
.three-fifths,
.six-tenths         { width: 60% !important; }
.four-fifths,
.eight-tenths       { width: 80% !important; }

/**
 * Sixths.
 */
.one-sixth,
.two-twelfths       { width: 16.6666666% !important; }
.five-sixths,
.ten-twelfths       { width: 83.3333333% !important; }

/**
 * Eighths.
 */
.one-eighth         { width: 12.5% !important; }
.three-eighths      { width: 37.5% !important; }
.five-eighths       { width: 62.5% !important; }
.seven-eighths      { width: 87.5% !important; }

/**
 * Ninths.
 */
.one-ninth          { width: 11.1111111% !important; }
.two-ninths         { width: 22.2222222% !important; }
.four-ninths        { width: 44.4444444% !important; }
.five-ninths        { width: 55.5555555% !important; }
.seven-ninths       { width: 77.7777777% !important; }
.eight-ninths       { width: 88.8888888% !important; }

/**
 * Tenths.
 */
.one-tenth          { width: 10% !important; }
.three-tenths       { width: 30% !important; }
.seven-tenths       { width: 70% !important; }
.nine-tenths        { width: 90% !important; }

/**
 * Twelfths.
 */
.one-twelfth        { width:  8.3333333% !important; }
.five-twelfths      { width: 41.6666666% !important; }
.seven-twelfths     { width: 58.3333333% !important; }
.eleven-twelfths    { width: 91.6666666% !important; }

}
