/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
 * word format (e.g. `two-thirds`). Toggle formats by overriding the
 * `$inuit-use-fractions` variable defined below.
 */
@mixin grid-setup($namespace: ''){

    @for $i from 1 to ($columns + 1) {
        [class~='#{$namespace}#{$i}/#{$columns}']{
            @include column($i);
        }
    }

    /**
     * Static width classes
     */
    [class~='#{$namespace}1/1'],
    .#{$namespace}one-whole,
    %#{$namespace}one-whole{
        width: 100%;
    }

    [class~='#{$namespace}1/2'],
    .#{$namespace}one-half,
    %#{$namespace}one-half{
        width: 50%;
    }

    [class~='#{$namespace}1/3'],
    .#{$namespace}one-third,
    %#{$namespace}one-third{
        width: 33.3333%;
    }

    [class~='#{$namespace}2/3'],
    .#{$namespace}two-thirds,
    %#{$namespace}two-thirds{
        width: 66.6666%;
    }

    [class~='#{$namespace}1/4'],
    .#{$namespace}one-quarter,
    %#{$namespace}one-quarter{
        width: 25%;
    }

    [class~='#{$namespace}3/4'],
    .#{$namespace}three-quarters,
    %#{$namespace}three-quarters{
        width: 75%;
    }

}


@include grid-setup();


/**
 *
 * Based on "_widths.scss" from inuitcss by Harry Roberts:
 * https://github.com/csswizardry/inuit.css/blob/master/generic/_widths.scss
 *
 * Responsive width classes
 */
@include media-query(portable){
    @include grid-setup('portable-');
}

@include media-query(palm){
    @include grid-setup('palm-');
}

@include media-query(lap){
    @include grid-setup('lap-');
}

@include media-query(lap-and-up){
    @include grid-setup('lap-and-up-');
}

@include media-query(desk){
    @include grid-setup('desk-');
}

@include media-query(desk-wide){
    @include grid-setup('desk-wide-');
}
