/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes take a fraction-like format (e.g. `.6/12`) depending on
 * your defined grid-columns. Also you'll find some common widths in a spoken-
 * word format (e.g. `two-thirds`).
 */
@mixin inuit-widths($namespace: ''){

/**
 * Whole.
 */
.#{$namespace}one-whole           { width: 100% !important; }

/**
 * Halves.
 */
.#{$namespace}one-half,
.#{$namespace}two-quarters,
.#{$namespace}three-sixths,
.#{$namespace}four-eighths,
.#{$namespace}five-tenths,
.#{$namespace}six-twelfths        { width: 50% !important; }

/**
 * Thirds.
 */
.#{$namespace}one-third,
.#{$namespace}two-sixths,
.#{$namespace}three-ninths,
.#{$namespace}four-twelfths       { width: 33.3333333% !important; }
.#{$namespace}two-thirds,
.#{$namespace}four-sixths,
.#{$namespace}six-ninths,
.#{$namespace}eight-twelfths      { width: 66.6666666% !important; }

/**
 * Quarters.
 */
.#{$namespace}one-quarter,
.#{$namespace}two-eighths,
.#{$namespace}three-twelfths      { width: 25% !important; }
.#{$namespace}three-quarters,
.#{$namespace}six-eighths,
.#{$namespace}nine-twelfths       { width: 75% !important; }

/**
 * Fifths.
 */
.#{$namespace}one-fifth,
.#{$namespace}two-tenths          { width: 20% !important; }
.#{$namespace}two-fifths,
.#{$namespace}four-tenths         { width: 40% !important; }
.#{$namespace}three-fifths,
.#{$namespace}six-tenths          { width: 60% !important; }
.#{$namespace}four-fifths,
.#{$namespace}eight-tenths        { width: 80% !important; }

/**
 * Sixths.
 */
.#{$namespace}one-sixth,
.#{$namespace}two-twelfths        { width: 16.6666666% !important; }
.#{$namespace}five-sixths,
.#{$namespace}ten-twelfths        { width: 83.3333333% !important; }

/**
 * Eighths.
 */
.#{$namespace}one-eighth          { width: 12.5% !important; }
.#{$namespace}three-eighths       { width: 37.5% !important; }
.#{$namespace}five-eighths        { width: 62.5% !important; }
.#{$namespace}seven-eighths       { width: 87.5% !important; }

/**
 * Ninths.
 */
.#{$namespace}one-ninth           { width: 11.1111111% !important; }
.#{$namespace}two-ninths          { width: 22.2222222% !important; }
.#{$namespace}four-ninths         { width: 44.4444444% !important; }
.#{$namespace}five-ninths         { width: 55.5555555% !important; }
.#{$namespace}seven-ninths        { width: 77.7777777% !important; }
.#{$namespace}eight-ninths        { width: 88.8888888% !important; }

/**
 * Tenths.
 */
.#{$namespace}one-tenth           { width: 10% !important; }
.#{$namespace}three-tenths        { width: 30% !important; }
.#{$namespace}seven-tenths        { width: 70% !important; }
.#{$namespace}nine-tenths         { width: 90% !important; }

/**
 * Twelfths.
 */
.#{$namespace}one-twelfth         { width:  8.3333333% !important; }
.#{$namespace}five-twelfths       { width: 41.6666666% !important; }
.#{$namespace}seven-twelfths      { width: 58.3333333% !important; }
.#{$namespace}eleven-twelfths     { width: 91.6666666% !important; }

}


@include inuit-widths();


/**
 * Loops through every breakpoint set in "_settings.responsive" and
 * takes care of creating the resposive width-classes
 */
@each $breakpoint in $breakpoints {

    $brkpt: nth($breakpoint, 1);

    @include media-query($brkpt){

        @include inuit-widths($brkpt+'-');

    }
}
